@use '../styles/design';

.cartMain {
  //background-color: $Rose100;
  min-width: 384px;
  margin-left: 30px;

  .cartInner {
    min-height: 250px;
    background-color: design.$white;
    padding: 20px;
    border-radius: 12px;
  }
}

.cartTitle {
  @include design.text-preset-2;
  color: design.$Red;
  margin-top: 0;
}

ul {
  padding: 0;
}

.cartItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartName {
  @include design.text-preset-4-Bold;
  color: design.$Rose900;
  font-weight: 600;
}

.cartQty {
  @include design.text-preset-4-Bold;
  color: design.$Red;
  font-weight: 600;
}
.cartPrice {
  @include design.text-preset-4;
  color: design.$Rose500;
  font-weight: 400;
  margin: 0 21px;
}
.cartDesc {
  @include design.text-preset-4-Bold;
  color: design.$Rose500;
  font-weight: 600;
}
.cartDeleteItem {
  border-radius: 50px;
  border: 1px solid design.$Rose400;
  width: 12px;
  padding: 5px;
}
.cartTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: design.$Rose900;
  span {
    @include design.text-preset-4;
  }
  h3 {
    @include design.text-preset-2;
  }
}
.emptyCart {
  margin: 20px 75px;
  @include design.text-preset-4-Bold;
  color: design.$Rose500;
}
.cartNeutralTxt{
  background-color: design.$Rose50;
  padding: 25px;
  margin: 15px 0;
  @include design.text-preset-4-Bold;
  color: design.$Rose900;
}
.cartConfirmBtn{
  @include design.confirmBtn;
}
